.tm_properties
bin
*.gem
Gemfile.lock
.bundle
.settings
.externalToolBuilders
.tm_properties
.project
.flexProperties
.actionScriptProperties
.DS_Store
*.mp4
.idea
*.iml
.rake_tasks~
.svn
lib/swc/*.swf